/*Reciever Chat bubble styling*/
.tri-right.left-top:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -13px;
  right: auto;
  top: 0px;
  bottom: auto;
  border: 15px solid;
  border-color: #ededed transparent transparent transparent;
}

/*Sender Chat bubble styling*/
.S_tri-right.S_left-top:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  right: -13px;
  left: auto;
  top: 0px;
  bottom: auto;
  border: 15px solid;
  border-color: #78909c transparent transparent transparent;
}

/*Scrolling desiging and its visibility*/

.scrollElement::-webkit-scrollbar {
  display: none;
}

.chat-Wrapper:hover .chat {
  color: #ffff;
}

#Chat-Box-Styled-Scroll::-webkit-scrollbar {
  width: 6px;
}

#Chat-Box-Styled-Scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #ededed;
}

.MuiDrawer-paper::-webkit-scrollbar {
  display: none;
}
